<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xcy.dao.AreaMapper">

     <select id="getProvince" resultType="area">
         select * from area where level=1
     </select>

    <select id="getCity" parameterType="int" resultType="area">
        select * from area where parent_id=#{id} and level=2
    </select>

    <select id="getCountry" parameterType="int" resultType="area">
        select * from area where parent_id=#{id} and level=3
    </select>
</mapper>